.final-wrapper {
  margin-top: 135px;
  padding-top: 90px;
  padding-bottom: 130px;
  background: url("../images/content/budda-desktopHD.jpg") no-repeat 50% 100%;
  background-size: cover;
  clip-path: polygon(0 0, 50% 7%, 100% 0, 100% 100%, 0 100%);
}

.final-wrapper__reviews {
  margin-top: 160px;
}

.final-wrapper__contacts {
  margin-top: 200px;
}
