.header {
  display: flex;
  align-items: center;
}

.header__logo,
.header__nav,
.header__socials {
  margin-top: 50px;
}

.header__nav {
  margin-left: 290px;
}

.header__socials {
  margin-left: auto;
}
