.intro {
  height: 100vh;
  position: relative;
  min-height: 650px;
  outline: 1px solid pink;
}

.intro__main {
  margin-top: 300px;
  margin-bottom: 100px;
}

.intro__scroll {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

@include desktop {
  .intro__main {
    margin-top: 250px;
  }
}
