.intro {
  position: relative;
  min-height: 745px;
}

.intro__main {
  margin-top: 200px;
  margin-bottom: 100px;
}

@include desktop {
  .intro__main {
    margin-top: 250px;
  }
}

@include tablets {
  .intro__main {
    margin-top: 170px;
  }
}

@include phones {
  .intro {
    min-height: 550px;
  }

  .intro__main {
    margin-top: 110px;
  }
}


