.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__intro {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__text {

  width: 45%;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  outline: 1px solid pink;
}

.main__heading {
  display: block;
  padding-top: 20px;
  font-size: 72px;
  line-height: 0.85;
  font-weight: 900;
  text-align: center;
  outline: 1px solid pink;
}
