.nav__list {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  list-style: none;
  outline: 1px solid pink;
}

.nav__item {
  margin-right: 60px;

  &:last-child {
    margin-right: 0;
  }
}

.nav__link {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 16px;
  color: #464d62;
  text-decoration: none;
}
