.nav--header {
  color: #818181;

  .nav__link:hover {
    color: #5500f2;
  }
}

.nav--footer {
  color: #ffffff;

  .nav__link:hover {
    color: #ff9a00;
  }
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  outline: 1px solid pink;
}

.nav__item {
  margin-right: 60px;

  &:last-child {
    margin-right: 0;
  }
}

.nav__link {
  text-decoration: none;
}
