.scroll {
  display: block;
  width: 110px;
  height: 35px;

  outline: 1px solid pink;
}

.scroll__button {
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: -5px;
    width: 30px;
    height: 40px;
    background: svg-load('scroll.svg', width: 100%, height: 100%, fill:#464d62) no-repeat 0 0;

    outline: 1px solid lime;
  }
}

@include tablets {
  .scroll {
    display: none;
  }
}
