.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 300px;
  outline: 1px solid pink;
}

.socials__item {
  width: 25px;
  height: auto;
  margin-left: 45px;

  &:first-child {
    margin-left: 0;
  }
}
