.two-sections {
  margin-top: 130px;
  padding-top: 90px;
  background: url("../images/content/budda-desktopHD.jpg") no-repeat 50% 100%;
  background-size: cover;
  clip-path: polygon(0 0, 50% 7%, 100% 0, 100% 100%, 0 100%);
}
