.two-sections {
  margin-top: 130px;
  padding-top: 90px;
  /*background: #dbe2f2 url("../images/content/budda-desktopHD.jpg") no-repeat 50% 100%;
  background-size: cover;*/

  outline: 1px solid lime;
}
