.user-card {
  display: flex;
  flex-direction: column;

  outline: 1px solid pink;
}

.user-card__avatar {
  align-self: center;
  width: 200px;
}

.user-card__data {
  margin-top: 70px;
}

.user-card__column {
  padding-bottom: 15px;

  &--two {
    padding-left: 4.4vw;
    font-weight: 700;
  }
}
