.welcome-wrapper {
  padding-bottom: 150px;
  background: #f0eff5 url("../images/content/bg-mountain-desktopHd.jpg") no-repeat 50% 0;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 93%, 50% 100%, 0 93%);
}

.welcome-wrapper__about {
  margin-top: 250px;
  margin-bottom: 100px;
}
