script(type='text/x-template')#diagrams-list
  .skills__diagrams
    ul.diagrams
      li.diagrams__item(v-for='category in skills' :key='category.title')
        diagrams-row(
          :category='category'
        )

script(type='text/x-template')#diagrams-row
  .diagrams-row
    h3.diagrams-row__heading {{category.title}}
    ul.diagrams-row__list
        li.diagrams-row__item(v-for='skill in category.skills' :key='skill.id')
          diagram(
            :skill='skill'
          )

script(type='text/x-template')#diagram
  .diagram
    h4.diagram__title {{skill.title}}
    svg(width="150" height="150").diagram__circle
      circle(cx='75' cy='75' r='65' fill='transparent' stroke='#e9e9e9').diagram__icon.diagram__icon--under
      circle(cx='75' cy='75' r='65' ref='circle' fill='transparent' stroke='url(#grad)').diagram__icon.diagram__icon--above
      defs
        linearGradient(id='grad')
          stop(offset="0%" stop-color="#bb00ff")
          stop(offset="100%" stop-color="#5900ff")

