script(type='text/x-template')#portfolio-container
  .portfolio__slider
    display(
      :works='works'
      :currentWork='currentWork'
      :currentIndex='currentIndex'
      @slide='handleSlide'
    )
    num(
      :currentWork='currentWork'
      :currentIndex='currentIndex'
    )
    info(
      :currentWork='currentWork'
    )

script(type='text/x-template')#portfolio-display
  .portfolio__slider-img(data-slider="1")
    .portfolio__big-img
      img(:src='"https://webdev-api.loftschool.com/" + currentWork.photo').portfolio__preview-big
      thumbs(
        :works='reversedWorks'
        :currentWork='currentWork'
      )
      btns(
        @slide='$emit("slide", $event)'
        :works='works'
        :currentWork='currentWork'
        :currentIndex='currentIndex'
      )


script(type='text/x-template')#portfolio-thumbs
  ul.portfolio__list-img
    li.portfolio__item-img(
      v-for='work in works'
      :key='work.id'
      :class='{active: currentWork.id  == work.id}'
    )
      a(href='')
        img(:src='"https://webdev-api.loftschool.com/" + work.photo').portfolio__preview-small


script(type='text/x-template')#portfolio-btns
  .portfolio__arrows-list
    button(
      @click.prevent='$emit("slide", "next")'
      :class='{active: currentIndex  < works.length - 1}'
    ).portfolio__arrows-item(type='button', aria-label='Вверх')
    button(
      @click.prevent='$emit("slide", "prev")'
      :class='{active: currentIndex  > 0}'
    ).portfolio__arrows-item(type='button', aria-label='Вниз')

script(type='text/x-template')#portfolio-num
  .portfolio__num {{currentIndex + 1}}

script(type='text/x-template')#portfolio-info
  .portfolio__text
    tags(
      :tags='currentWork'
    )
    h3.portfolio__text-heading {{currentWork.title}}
    p.portfolio__text-intro {{currentWork.description}}
    a(:href='currentWork.link').portfolio__text-link Посмотреть сайт

script(type='text/x-template')#portfolio-tags
  ul.portfolio__tags
    li.portfolio__tag(v-for='tag in tagsArray' :key='tag.id') {{tag}}



