script(type='text/x-template')#reviews-main
  .reviews#reviews
    .reviews__header
      h2.reviews__heading.heading Что обо мне говорят
      arrowsComp(@slide='checkBtn')

    .reviews__slider(ref='sliderBlock')
      reviewsSlider(:slides='slides' @slide='checkBtn')

script(type='text/x-template')#reviews-arrows
  ul.reviews__arrows-list
    li.reviews__arrows-item
      button.reviews__arrow(type='button', aria-label='Назад',
      @click.prevent='$emit("slide", "prev")')
    li.reviews__arrows-item
      button.reviews__arrow(type='button', aria-label='Вперед',
      @click.prevent='$emit("slide", "next")')

script(type='text/x-template')#reviews-slider
  ul.reviews__list(ref='moveSlider')
    li.reviews__item(v-for='slide in slides' :key='slide.id')
      reviewsSlide(:slide='slide')

script(type='text/x-template')#reviews-slide
  .reviews__slide-item
    .reviews__intro {{slide.text}}
    .reviews__avatar
      img(:src='"https://webdev-api.loftschool.com/" + slide.photo').reviews__img
    .reviews__pers
      .reviews__pers-name {{slide.author}}
      .reviews__pers-pos {{slide.occ}}
