include ./mixins.pug
include ./templates/entry.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
    script(src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js')
    meta(name='viewport', content='width=device-width,initial-scale=1')
  body
    section.parallax
      .parallax__layer(data-speed='0.1')
        +image('content/1.jpg', 'parallax__img')
      .parallax__layer(data-speed='0.25')
        +image('content/2.png', 'parallax__img')
      .parallax__layer(data-speed='0.35')
        +image('content/3.png', 'parallax__img')
      .parallax__layer(data-speed='0.38')
        +image('content/4.png', 'parallax__img')
      .parallax__layer(data-speed='0.45')
        +image('content/5.png', 'parallax__img')
      .parallax__layer(data-speed='0.48')
        +image('content/6.png', 'parallax__img')
      .parallax__layer(data-speed='0.50')
        +image('content/white.png', 'parallax__img')
    .wrapper
      .welcome-wrapper
        section.welcome-wrapper__intro.intro
          header.header.container
            .header__logo
              .logo ЕХ
            .header__menu.header__menu--header-closed.header__menu--no-js
              button.header__toggle(type='button' aria-label='Развернуть меню')
              .header__nav.header__nav--header
                nav.nav.nav--header
                  - var items = ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"];
                  ul.nav__list
                    each item in items
                      li.nav__item
                        a(href='').nav__link #{item}
              .header__socials.header__socials--header
                - var icons = ["insta", "vk", "github"];
                ul.socials.socials--header
                  each item in icons
                    li.socials__item.socials__item--header
                      a(href='').socials__link
                        +icon(item, socials__item)
          .intro__main.main.container
            p.main__text Личный сайт веб-разработчика
            h1.main__heading Елена Ходанович
          .intro__scroll.scroll
            a(href='#').scroll__button Скролл
        section.welcome-wrapper__about.about#about.container
          h2.visually-hidden Обо мне
          .about__user.user-card
            .user-card__avatar
              +image('content/user.jpg', 'user-card__img')
            .user-card__data
              table
                tbody
                  tr
                    td.user-card__column.user-card__column--one Проживаю:
                    td.user-card__column.user-card__column--two Ярославль
                  tr
                    td.user-card__column.user-card__column--one Возраст:
                    td.user-card__column.user-card__column--two 46 лет
                  tr
                    td.user-card__column.user-card__column--one Родилась:
                    td.user-card__column.user-card__column--two 23 октября 1973
          .about__text
            .about__hello Привет, меня зовут
            h3.about__name Елена Ходанович
            .about__prof
              p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
            .about__school
              p Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
      section.skills#skills
        .skills__wrapper.container
          h2.skills__heading Чем я могу быть полезен вам
          .skills__intro
            p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
          #diagrams-component
      section.portfolio#portfolio
        .portfolio__wrapper.container.fullscreen
          h2.portfolio__heading.heading Мои работы
          .portfolio__content
            #slider-component
      .final-wrapper
        section.final-wrapper__reviews.container
          #reviews
        section.final-wrapper__contacts.contacts#contacts.container
          h2.contacts__heading.heading Связаться со мной
          form.contacts__form.form
            .form__info.form-input
              label.form-input__label(for='username') Введите ваше имя
              input#username.form-input__input.form-input__input--user(type='text', name='username', value='', placeholder='Имя Фамилия', required='')
            .form__info.form-input
              label.form-input__label(for='useremail') Введите ваш email
              input#useremail.form-input__input.form-input__input--email(type='email', name='useremail', value='', placeholder='email@example.com', required='')
            .form__info.form__info--textarea.form-input.form-input--textarea
              label.form-input__label(for='message') Сообщение
              textarea#message.form-input__message(name='message', rows='5', placeholder='В свободной форме', required='')
            button.form__button.button(type='submit') Отправить
      footer.footer
        .footer__wrapper.container
          .footer__copyright.copyright
            .copyright__year © 2019
            .copyright__info
              .copyright__name Елена Ходанович
              .copyright__site Личный сайт веб-разработчика
          .footer__content
            .footer__nav
              nav.nav.nav--footer
                - var items = ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"];
                ul.nav__list.nav__list--footer
                  each item in items
                    li.nav__item
                      a.nav__link #{item}
            .footer__intro
              p Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
              .footer__intro-socials
                - var icons = ["insta", "vk", "github"];
                ul.socials.socials--footer
                  each item in icons
                    li.socials__item.socials__item--footer
                      a(href='').socials__link
                        +icon(item, socials__item)
            .footer__quote
              p.footer__quote-text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
              p.footer__quote-name Martin Golding
      section.modal.modal-sent
        .container
            h2.modal__heading Письмо отправлено
            button.modal__button.button(type='button') Закрыть
      section.modal.modal-error
        .container
            h2.modal__heading.modal__heading--error
            button.modal__button.button(type='button') Закрыть
